<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.petcab.work.user.model.dao.DriverDao">
	
	<!-- 중복되는 쿼리문 작성 -->
	<sql id="selectDriverSql">
		SELECT USER_NO,
			CAR_TYPE,
			CAR_NO,
			ABOUT,
			IMAGE_ORI,
			IMAGE_RE,
			STATUS
		FROM DRIVER
	</sql>
	
	<sql id="selectDriverMemberSql">
		SELECT M.USER_NAME,
			D.USER_NO,
			D.CAR_TYPE,
			D.CAR_NO,
			D.ABOUT,
			D.IMAGE_ORI,
			D.IMAGE_RE,
			D.STATUS
		FROM DRIVER D
		JOIN MEMBER M ON (D.USER_NO=M.USER_NO)
	</sql>
	
	<resultMap type="Driver" id="DriverResultMap">
		<id property="userNo" column="USER_NO"/>
		<result property="userName" column="USER_NAME"/>
		<result property="carType" column="CAR_TYPE"/>
		<result property="carNo" column="CAR_NO"/>
		<result property="about" column="ABOUT"/>
		<result property="imageOri" column="IMAGE_ORI"/>
		<result property="imageRe" column="IMAGE_RE"/>
		<result property="status" column="STATUS"/>
		<result property="rowNum" column="ROWNUM"/>
		<association property="member" resultMap="MemberResultMap" />

	</resultMap>
		
	<resultMap type="Member" id="MemberResultMap">
		<id property="userNo" column="USER_NO"/>
		
		<result property="userName" column="USER_NAME"/>
		<result property="userId" column="USER_ID"/>
		<result property="userPwd" column="USER_PWD"/>
		<result property="postCode" column="POSTCODE"/>
		<result property="address" column="ADDRESS"/>
		<result property="phone" column="PHONE"/>
		<result property="enrollDate" column="ENROLL_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
		<result property="userType" column="USER_TYPE"/>
	</resultMap>

	<select id="selectDriverCount" resultType="_int">
		SELECT COUNT(*) 
		FROM DRIVER D
		JOIN MEMBER M ON (D.USER_NO = M.USER_NO)
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="keyword != null and keyword != ''">
				<if test="searchType == 'userId'">
					AND M.USER_ID LIKE '%'||#{keyword}||'%'
				</if>
				<if test="searchType == 'userName'">
					AND M.USER_NAME LIKE '%'||#{keyword}||'%'
				</if>
			</if>
		</trim>
	</select>
	
	<select id="selectDriverAll" resultMap="DriverResultMap">
		<include refid="selectDriverSql"></include>
	</select>
	
	<select id="selectDriver" parameterType="_int" resultMap="DriverResultMap">
		<include refid="selectDriverSql"></include>
		WHERE USER_NO = #{userNo}
	</select>
	
	<insert id="insertDriver" parameterType="Driver"
		useGeneratedKeys="true" keyProperty="userNo" keyColumn="USER_NO">
		 INSERT INTO DRIVER (
		 	 USER_NO,
		 	 CAR_TYPE,
		 	 CAR_NO,
		 	 ABOUT,
		 	 IMAGE_ORI,
		 	 IMAGE_RE,
		 	 STATUS
		 )
		 VALUES(
		     #{userNo},
		     #{carType},
		     #{carNo},
		     #{about},
		     #{imageOri},
		     #{imageRe},
		     DEFAULT
		 )
	</insert>
	
	<select id="selectDriverMember" parameterType="_int" 
		resultMap="DriverResultMap, MemberResultMap">
		<include refid="selectDriverMemberSql"></include>
		WHERE D.USER_NO = #{userNo}
	</select>
	
	<select id="selectWaitDrivers" parameterType="_int" 
		resultMap="DriverResultMap">
		SELECT ROWNUM, USER_NAME, USER_NO, CAR_TYPE, CAR_NO, ABOUT,ADDRESS,PHONE,
		IMAGE_ORI, IMAGE_RE, STATUS
		FROM (
			SELECT M.USER_NAME,
				D.USER_NO,
				D.CAR_TYPE,
				D.CAR_NO,
				D.ABOUT,
				M.ADDRESS,
				M.PHONE,
				D.IMAGE_ORI,
				D.IMAGE_RE,
				D.STATUS
			FROM DRIVER D
			JOIN MEMBER M ON (D.USER_NO=M.USER_NO)
			WHERE D.STATUS = 'W'
		)
        ORDER BY ROWNUM
	</select>
	
	<select id="selectDrivers" parameterType="_int" 
		resultMap="DriverResultMap">
		SELECT ROWNUM, USER_NAME, USER_NO, USER_ID, CAR_TYPE, CAR_NO, ABOUT,ADDRESS,PHONE,
		IMAGE_ORI, IMAGE_RE, STATUS
		FROM (
			SELECT M.USER_NAME,
				D.USER_NO,
				M.USER_ID,
				D.CAR_TYPE,
				D.CAR_NO,
				D.ABOUT,
				M.ADDRESS,
				M.PHONE,
				D.IMAGE_ORI,
				D.IMAGE_RE,
				D.STATUS
			FROM DRIVER D
			JOIN MEMBER M ON (D.USER_NO=M.USER_NO)
			WHERE D.STATUS = 'Y' OR D.STATUS='N'
		)
        ORDER BY ROWNUM
	</select>
	
	<select id="getRejectDriverCount" resultType="_int">
		SELECT COUNT(*) FROM DRIVER
		WHERE STATUS='N'
	</select>

	<select id="selectAllDrivers" parameterType="_int" 
        resultMap="DriverResultMap">
        SELECT ROWNUM, USER_NAME, USER_NO, USER_ID, CAR_TYPE, CAR_NO, ABOUT,ADDRESS,PHONE,
        IMAGE_ORI, IMAGE_RE, STATUS
        FROM (
            SELECT M.USER_NAME,
                D.USER_NO,
                M.USER_ID,
                D.CAR_TYPE,
                D.CAR_NO,
                D.ABOUT,
                M.ADDRESS,
                M.PHONE,
                D.IMAGE_ORI,
                D.IMAGE_RE,
                D.STATUS
            FROM DRIVER D
            JOIN MEMBER M ON (D.USER_NO=M.USER_NO)
        )
        <trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="searchType == 'userId' and keyword != null and keyword != ''">
				AND USER_ID LIKE '%'||#{keyword}||'%'
			</if>
			<if test="searchType == 'userName' and keyword != null and keyword != ''">
				AND USER_NAME LIKE '%'||#{keyword}||'%'
			</if>
		</trim>
        ORDER BY ROWNUM
    </select>
	
	<select id="selectRejectDrivers" parameterType="map" resultMap="DriverResultMap">
		SELECT ROWNUM, USER_NAME, USER_NO, USER_ID, CAR_TYPE, CAR_NO, ABOUT,ADDRESS,PHONE,
		IMAGE_ORI, IMAGE_RE, STATUS
		FROM (
			SELECT M.USER_NAME,
				D.USER_NO,
				M.USER_ID,
				D.CAR_TYPE,
				D.CAR_NO,
				D.ABOUT,
				M.ADDRESS,
				M.PHONE,
				D.IMAGE_ORI,
				D.IMAGE_RE,
				D.STATUS
			FROM DRIVER D
			JOIN MEMBER M ON (D.USER_NO=M.USER_NO)
			WHERE D.STATUS='N'
		)
        ORDER BY ROWNUM
	</select>
	
	<update id="updateDriver" parameterType="Driver">
		UPDATE DRIVER
		SET CAR_TYPE = #{carType},
			CAR_NO = #{carNo},
			ABOUT = #{about},
			IMAGE_ORI = #{imageOri},
			IMAGE_RE = #{imageRe}
		WHERE USER_NO = #{userNo}
	</update>
	
	<update id="applyDriver" parameterType="Driver">
		UPDATE DRIVER
		SET STATUS = 'Y'
		WHERE USER_NO = #{userNo}
	</update>
	
	<update id="rejectDriver" parameterType="Driver">
		UPDATE DRIVER
		SET STATUS = 'N'
		WHERE USER_NO = #{userNo}
	</update>
	
	<select id="selectCarNo" parameterType="string" resultMap="DriverResultMap">
		<include refid="selectDriverSql"></include>
		WHERE CAR_NO = #{carNo}
	</select>
</mapper>
