<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.petcab.work.call.model.dao.CallDao">

	<sql id="selectCallSql">
		SELECT G.CALL_NO,
		G.TIME,
		G.FROM_WHERE,
		G.TO_WHERE,
		G.WITH_OWNER,
		G.TO_DRIVER,
		G.STATUS,
		G.CALL_TYPE,
		G.USER_NO,
		G.MERCHANT_UID,
		CD.DOG_NO,
		D.ANIMAL_NO,
		D.DOG_NAME,
		D.DOG_TYPE,
		D.AGE,
		D.VACC,
		D.DISORDER,
		D.OTHER,
		D.IMAGE_ORI,
		D.IMAGE_RE,
		D.ENROLL_DATE,
		D.MODIFY_DATE,
		D.STATUS,
		D.USER_ID
		FROM GEN_CALL G
		JOIN CALL_DOG CD ON
		(G.CALL_NO = CD.CALL_NO)
		JOIN DOG D
		ON (CD.DOG_NO = D.DOG_NO)
	</sql>

	<sql id="selectEmgCallSql">
		SELECT G.CALL_NO,
		G.TIME,
		G.FROM_WHERE,
		G.TO_WHERE,
		G.WITH_OWNER,
		G.TO_DRIVER,
		G.STATUS,
		G.CALL_TYPE,
		G.USER_NO,
		G.MERCHANT_UID,
		D.DOG_NO,
		E.TO_PARTNER,
		E.TO_REJECT,
		E.USER_NO,
		D.ANIMAL_NO,
		D.DOG_NAME,
		D.DOG_TYPE,
		D.AGE,
		D.VACC,
		D.DISORDER,
		D.OTHER,
		D.IMAGE_ORI,
		D.IMAGE_RE,
		D.ENROLL_DATE,
		D.MODIFY_DATE,
		D.STATUS,
		D.USER_ID,
        P.USER_NO,
        P.PARTNER_NAME,
        P.PARTNER_TYPE
		FROM GEN_CALL G
		JOIN EMERG_CALL E ON (G.CALL_NO = E.CALL_NO)
		JOIN CALL_DOG CD ON (G.CALL_NO = CD.CALL_NO)
		JOIN DOG D ON (CD.DOG_NO = D.DOG_NO)
        JOIN PARTNER P ON (E.USER_NO = P.USER_NO)
	</sql>

	<sql id="selectEmgCallWithNoDogsSql">
		SELECT G.CALL_NO,
		G.TIME,
		G.FROM_WHERE,
		G.TO_WHERE,
		G.WITH_OWNER,
		G.TO_DRIVER,
		G.STATUS,
		G.CALL_TYPE,
		G.USER_NO,
		G.MERCHANT_UID,
		E.TO_PARTNER,
		E.TO_REJECT,
		E.USER_NO
		FROM GEN_CALL G
		JOIN
		EMERG_CALL E ON (G.CALL_NO = E.CALL_NO)
	</sql>

	<resultMap type="Dog" id="dogResultMap">
		<id property="dogNo" column="DOG_NO" />
		<result property="animalNo" column="ANIMAL_NO" />
		<result property="dogName" column="DOG_NAME" />
		<result property="dogType" column="DOG_TYPE" />
		<result property="age" column="AGE" />
		<result property="vacc" column="VACC" />
		<result property="disorder" column="DISORDER" />
		<result property="other" column="OTHER" />
		<result property="imageOri" column="IMAGE_ORI" />
		<result property="imageRe" column="IMAGE_RE" />
		<result property="userId" column="USER_ID" />
		<result property="enrollDate" column="ENROLL_DATE" />
		<result property="modifyDate" column="MODIFY_DATE" />
		<result property="status" column="STATUS" />
	</resultMap>

	<resultMap type="Partner" id="partnerResultMap">
		<id property="userNo" column="USER_NO" />
		<result property="partnerName" column="PARTNER_NAME" />
		<result property="partnerType" column="PARTNER_TYPE" />
		<result property="phone" column="PHONE" />
		<result property="openTime" column="OPEN_TIME" />
		<result property="imageOri" column="IMAGE_ORI" />
		<result property="imageRe" column="IMAGE_RE" />
		<result property="about" column="ABOUT" />
		<result property="status" column="STATUS" />
		<!-- <result property="member" column="PARTNER_NAME" /> <result property="rowNum" 
			column="PARTNER_NAME" /> -->
	</resultMap>

	<resultMap type="Driver" id="DriverResultMap">
		<id property="userNo" column="USER_NO" />
		<result property="carNo" column="CAR_NO" />
		<result property="carType" column="CAR_TYPE" />
		<result property="userName" column="USER_NAME"/>
	</resultMap>

	<resultMap type="EmgCall" id="emgCallWithDogsResultMap">
		<id property="callNo" column="CALL_NO" />
		<result property="pickupTime" column="TIME" />
		<result property="fromWhere" column="FROM_WHERE" />
		<result property="toWhere" column="TO_WHERE" />
		<result property="withOwner" column="WITH_OWNER" />
		<result property="toPartner" column="TO_PARTNER" />
		<result property="toDriver" column="TO_DRIVER" />
		<result property="status" column="STATUS" />
		<result property="callType" column="CALL_TYPE" />
		<result property="merchantUid" column="MERCHANT_UID" />
		<result property="rowNum" column="ROWNUM"/>
		<association property="driver" resultMap="DriverResultMap" />
		<association property="partner"
			resultMap="partnerResultMap" />	
		<collection property="dogs" javaType="java.util.List"
			ofType="Dog">
			<id property="dogNo" column="DOG_NO" />
			<result property="animalNo" column="ANIMAL_NO" />
			<result property="userId" column="USER_ID" />
			<result property="dogName" column="DOG_NAME" />
			<result property="dogType" column="DOG_TYPE" />
			<result property="age" column="AGE" />
			<result property="vacc" column="VACC" />
			<result property="disorder" column="DISORDER" />
			<result property="other" column="OTHER" />
			<result property="imageOri" column="IMAGE_ORI" />
			<result property="imageRe" column="IMAGE_RE" />
			<result property="enrollDate" column="ENROLL_DATE" />
			<result property="modifyDate" column="MODIFY_DATE" />
			<result property="status" column="STATUS" />
		</collection>
	</resultMap>

	<resultMap type="Call" id="callResultMap">
		<id property="callNo" column="CALL_NO" />
		<result property="pickupTime" column="TIME" />
		<result property="fromWhere" column="FROM_WHERE" />
		<result property="toWhere" column="TO_WHERE" />
		<result property="withOwner" column="WITH_OWNER" />
		<result property="toDriver" column="TO_DRIVER" />
		<result property="status" column="STATUS" />
		<result property="callType" column="CALL_TYPE" />
		<result property="merchantUid" column="MERCHANT_UID" />
		<result property="rowNum" column="ROWNUM"/>
		<result property="paidAmount" column="PAID_AMOUNT"/>
		<association property="driver" resultMap="DriverResultMap" />
		<association property="partner" resultMap="partnerResultMap" />	
		<association property="dog" resultMap="dogResultMap"/>
		<collection property="dogs" javaType="java.util.List"
			ofType="Dog">
			<id property="dogNo" column="DOG_NO" />
			<result property="animalNo" column="ANIMAL_NO" />
			<result property="userId" column="USER_ID" />
			<result property="dogName" column="DOG_NAME" />
			<result property="dogType" column="DOG_TYPE" />
			<result property="age" column="AGE" />
			<result property="vacc" column="VACC" />
			<result property="disorder" column="DISORDER" />
			<result property="other" column="OTHER" />
			<result property="imageOri" column="IMAGE_ORI" />
			<result property="imageRe" column="IMAGE_RE" />
			<result property="enrollDate" column="ENROLL_DATE" />
			<result property="modifyDate" column="MODIFY_DATE" />
			<result property="status" column="STATUS" />
		</collection>
	</resultMap>

	<select id="selectDogsForCall">
		SELECT *
		FROM DOG
		WHERE DOG_NO = #{dogNo}
	</select>

	<select id="selectCall" parameterType="_int"
		resultMap="callResultMap">
		<include refid="selectCallSql"></include>
		WHERE G.CALL_NO = #{callNo}
	</select>
	
	<select id="selectEmgCallWithDogs" parameterType="_int"
		resultMap="emgCallWithDogsResultMap">
		<include refid="selectEmgCallSql"></include>
		WHERE E.CALL_NO = #{callNo}
	</select>

	<resultMap type="EmgCall" id="emgCallResultMap">
		<id property="callNo" column="CALL_NO" />
		<result property="pickupTime" column="TIME" />
		<result property="fromWhere" column="FROM_WHERE" />
		<result property="toWhere" column="TO_WHERE" />
		<result property="withOwner" column="WITH_OWNER" />
		<result property="toDriver" column="TO_DRIVER" />
		<result property="status" column="STATUS" />
		<result property="callType" column="CALL_TYPE" />
		<result property="merchantUid" column="MERCHANT_UID" />
		<result property="toPartner" column="TO_PARTNER" />
		<result property="toReject" column="TO_REJECT" />
		<association property="partner" javaType="Partner"
			resultMap="partnerResultMap" />
		<association property="driver" javaType="Driver"
			resultMap="DriverResultMap" />
		<collection property="dogs" javaType="java.util.List"
			ofType="Dog">
			<id property="dogNo" column="DOG_NO" />
			<result property="animalNo" column="ANIMAL_NO" />
			<result property="userId" column="USER_ID" />
			<result property="dogName" column="DOG_NAME" />
			<result property="dogType" column="DOG_TYPE" />
			<result property="age" column="AGE" />
			<result property="vacc" column="VACC" />
			<result property="disorder" column="DISORDER" />
			<result property="other" column="OTHER" />
			<result property="imageOri" column="IMAGE_ORI" />
			<result property="imageRe" column="IMAGE_RE" />
			<result property="enrollDate" column="ENROLL_DATE" />
			<result property="modifyDate" column="MODIFY_DATE" />
			<result property="status" column="STATUS" />
		</collection>
	</resultMap>

	<select id="selectEmgCall" parameterType="_int"
		resultMap="emgCallResultMap">
		SELECT G.CALL_NO,
		G.TIME,
		G.FROM_WHERE,
		G.TO_WHERE,
		G.WITH_OWNER,
		G.TO_DRIVER,
		G.STATUS,
		G.CALL_TYPE,
		G.USER_NO,
		G.MERCHANT_UID,
		D.DOG_NO,
		E.TO_PARTNER,
		E.TO_REJECT,
		E.USER_NO,
		P.PARTNER_NAME,
		P.PARTNER_TYPE,
		P.PHONE,
		P.OPEN_TIME,
		P.IMAGE_ORI,
		P.IMAGE_RE,
		P.ABOUT,
		P.STATUS,
		D.ANIMAL_NO,
		D.DOG_NAME,
		D.DOG_TYPE,
		D.AGE,
		D.VACC,
		D.DISORDER,
		D.OTHER,
		D.IMAGE_ORI,
		D.IMAGE_RE,
		D.ENROLL_DATE,
		D.MODIFY_DATE,
		D.STATUS,
		D.USER_ID
		FROM GEN_CALL G
		JOIN EMERG_CALL E ON (G.CALL_NO = E.CALL_NO)
		JOIN
		CALL_DOG CD ON (G.CALL_NO = CD.CALL_NO)
		JOIN DOG D ON (CD.DOG_NO =
		D.DOG_NO)
		JOIN PARTNER P ON (E.USER_NO = P.USER_NO)
		WHERE E.CALL_NO =
		#{callNo}
	</select>

	<!-- 일반콜 신청 -->
	<insert id="insertCall" parameterType="Call">
		<selectKey resultType="_int" keyProperty="callNo"
			order="BEFORE">
			SELECT SEQ_CALL_NO.NEXTVAL FROM DUAL
		</selectKey>
		INSERT ALL
		INTO GEN_CALL (
		CALL_NO, TIME,
		TO_WHERE, FROM_WHERE,
		WITH_OWNER, TO_DRIVER,
		STATUS, CALL_TYPE,
		USER_NO,
		MERCHANT_UID
		) VALUES (
		#{callNo}, TO_DATE(#{pickupTime}, 'YYYY-MM-DD"T"HH24:MI'),
		#{toWhere},
		#{fromWhere},
		#{withOwner}, #{toDriver},
		DEFAULT, #{callType},
		NULL,
		#{merchantUid}
		)
		<foreach collection="dogs" index="index" item="dog">
			INTO CALL_DOG (
			CALL_NO,
			DOG_NO
			) VALUES (
			#{callNo},
			#{dog.dogNo}
			)
		</foreach>
		SELECT * FROM DUAL
	</insert>

	<!-- 예약취소 -->
	<update id="updateCall" parameterType="Call">
		UPDATE GEN_CALL
		SET
		STATUS='취소'
		WHERE CALL_NO=#{callNo}
	</update>

	<!-- 긴급콜 신청 -->
	<insert id="insertEmgCall" parameterType="EmgCall">
		<selectKey resultType="_int" keyProperty="callNo"
			order="BEFORE">
			SELECT SEQ_CALL_NO.NEXTVAL FROM DUAL
		</selectKey>
		INSERT ALL
		INTO GEN_CALL (
		CALL_NO, TIME,
		TO_WHERE, FROM_WHERE,
		WITH_OWNER, TO_DRIVER,
		STATUS, CALL_TYPE,
		USER_NO,
		MERCHANT_UID
		) VALUES (
		#{callNo}, TO_DATE(#{pickupTime}, 'YYYY-MM-DD"T"HH24:MI'),
		#{toWhere},
		#{fromWhere},
		#{withOwner}, #{toDriver},
		DEFAULT, #{callType},
		NULL,
		#{merchantUid}
		)
		INTO EMERG_CALL (
		CALL_NO,
		TO_PARTNER,
		TO_REJECT,
		USER_NO
		)
		VALUES (
		#{callNo},
		#{toPartner},
		NULL,
		#{pUserNo}
		)
		<foreach collection="dogs" index="index" item="dog">
			INTO CALL_DOG (
			CALL_NO,
			DOG_NO
			) VALUES (
			#{callNo},
			#{dog.dogNo}
			)
		</foreach>
		SELECT * FROM DUAL
	</insert>
	
	<!-- 드라이버 예약선택 화면 예약목록 조회 -->
	<select id="selectCallListForDriver" resultMap="emgCallResultMap">
		SELECT G.CALL_NO,
			G.TIME,
			G.FROM_WHERE,
			G.TO_WHERE,
			G.WITH_OWNER,
			G.TO_DRIVER,
			G.STATUS,
			G.CALL_TYPE,
			G.USER_NO,
            CD.DOG_NO
		FROM GEN_CALL G, CALL_DOG CD
        WHERE G.CALL_NO = CD.CALL_NO
        AND G.STATUS = '결제'
        ORDER BY G.TIME DESC
	</select>
	
	<!-- 드라이버 예약선택 화면 예약 선택 -->
	<update id="updateCallByDriver" parameterType="map">		
		UPDATE GEN_CALL
		SET
		STATUS='기사',
		USER_NO=#{dUserNo}
		WHERE CALL_NO=#{callNo}
	</update>
	
	<!-- 드라이버 예약선택 화면 운행 종료 -->
	<update id="finishCallByDriver" parameterType="map">		
		UPDATE GEN_CALL
		SET
		STATUS='종료'
		WHERE CALL_NO=#{callNo}
	</update>
		
	<!-- 원석작업 -->
	<select id="driverWaitCallList" resultMap="callResultMap">
		SELECT
		C.CALL_NO,
		C.TIME,
		C.FROM_WHERE,
		C.TO_WHERE,
		C.WITH_OWNER,
		C.TO_DRIVER,
		C.STATUS,
		C.CALL_TYPE,
		D.USER_NO,
		D.CAR_NO,
		D.CAR_TYPE,
		D2.DOG_NAME,
		C.MERCHANT_UID
		FROM
		GEN_CALL C, DRIVER D, DOG D2, CALL_DOG CD
		WHERE C.CALL_NO = CD.CALL_NO
		AND CD.DOG_NO = D2.DOG_NO
		AND C.USER_NO = D.USER_NO
		AND C.STATUS = '신청'
	</select>

	<select id="driverEndCallList" parameterType="_int"
		resultMap="callResultMap">
		SELECT G.CALL_NO,
		    G.TIME,
		    G.FROM_WHERE,
		    G.TO_WHERE,
		    G.CALL_TYPE,
		    D.DOG_NAME,
		    P.PARTNER_NAME,
		    P2.PAID_AMOUNT
		FROM GEN_CALL G 
		    LEFT OUTER JOIN EMERG_CALL E ON G.CALL_NO=E.CALL_NO 
		    LEFT OUTER JOIN PARTNER P ON E.USER_NO = P.USER_NO
		    LEFT OUTER JOIN PAYMENT P2 ON G.MERCHANT_UID = P2.MERCHANT_UID
		    JOIN CALL_DOG CD ON G.CALL_NO=CD.CALL_NO
		    JOIN DOG D ON CD.DOG_NO= D.DOG_NO
	        JOIN DRIVER D2 ON G.USER_NO = D2.USER_NO
	        JOIN MEMBER M ON D2.USER_NO = M.USER_NO
		WHERE G.STATUS = '종료'
		AND G.USER_NO = #{userNo}
		ORDER BY CALL_NO
	</select>

	<!-- 이슬 작업 -->
	<select id="selectAllCall" resultType="_int">
		SELECT COUNT(*) FROM
		GEN_CALL
	</select>

	<select id="selectGenCall" resultType="_int">
		SELECT COUNT(*)
		FROM GEN_CALL
		WHERE CALL_TYPE = '일반'
	</select>

	<select id="selectEmergCall" resultType="_int">
		SELECT COUNT(*)
		FROM
		GEN_CALL
		WHERE CALL_TYPE = '긴급'
	</select>

	<select id="selectCancelledCall" resultType="_int">
		SELECT COUNT(*)
		FROM
		GEN_CALL
		WHERE STATUS = '취소'
	</select>

	<select id="useCallUserId" parameterType="string"
		resultMap="callResultMap">
		SELECT G.CALL_NO,
		    G.TIME,
		    G.FROM_WHERE,
		    G.TO_WHERE,
		    G.CALL_TYPE,
		    D.DOG_NAME,
		    P.PARTNER_NAME,
		    P2.PAID_AMOUNT
		FROM GEN_CALL G 
		    LEFT OUTER JOIN EMERG_CALL E ON G.CALL_NO=E.CALL_NO 
		    LEFT OUTER JOIN PARTNER P ON E.USER_NO = P.USER_NO
		    LEFT OUTER JOIN PAYMENT P2 ON G.MERCHANT_UID = P2.MERCHANT_UID
		    JOIN CALL_DOG CD ON G.CALL_NO=CD.CALL_NO
		    JOIN DOG D ON CD.DOG_NO= D.DOG_NO
		WHERE G.STATUS = '신청' OR G.STATUS='결제'
		AND D.USER_ID = #{userId}
		ORDER BY CALL_NO
	</select>

	<select id="endCallUserId" parameterType="string"
		resultMap="callResultMap">
		SELECT G.CALL_NO,
		    G.TIME,
		    G.FROM_WHERE,
		    G.TO_WHERE,
		    G.CALL_TYPE,
		    D.DOG_NAME,
		    P.PARTNER_NAME,
		    D2.CAR_TYPE,
		    D2.CAR_NO,
		    P2.PAID_AMOUNT
		FROM GEN_CALL G 
		    LEFT OUTER JOIN EMERG_CALL E ON G.CALL_NO=E.CALL_NO 
		    LEFT OUTER JOIN PARTNER P ON E.USER_NO = P.USER_NO
		    LEFT OUTER JOIN PAYMENT P2 ON G.MERCHANT_UID = P2.MERCHANT_UID
		    JOIN CALL_DOG CD ON G.CALL_NO=CD.CALL_NO
		    JOIN DOG D ON CD.DOG_NO= D.DOG_NO
	        JOIN DRIVER D2 ON G.USER_NO = D2.USER_NO
	        JOIN MEMBER M ON D2.USER_NO = M.USER_NO
		WHERE G.STATUS = '종료'
		AND D.USER_ID = #{userId}
		ORDER BY CALL_NO
	</select>

	<select id="waitECallList" resultMap="callResultMap">
		SELECT
		C.CALL_NO,
		C.TIME,
		C.FROM_WHERE,
		C.TO_WHERE,
		C.WITH_OWNER,
		C.TO_DRIVER,
		C.STATUS,
		C.CALL_TYPE,
		D.USER_NO,
		D.CAR_NO,
		D.CAR_TYPE,
		D2.DOG_NAME,
		M.USER_NAME,
		C.MERCHANT_UID
		FROM
		GEN_CALL C, DRIVER D, DOG D2, CALL_DOG CD, MEMBER M
		WHERE C.CALL_NO =
		CD.CALL_NO
		AND CD.DOG_NO = D2.DOG_NO
		AND C.USER_NO = D.USER_NO
		AND D2.USER_ID = M.USER_ID
		AND C.STATUS = '업체'
	</select>
	
	<!-- 긴급콜 요청,긴급콜내역 -->
	<select id="eCallList" parameterType="_int"
		resultMap="callResultMap">
		SELECT
		C.CALL_NO,
		C.TIME,
		C.FROM_WHERE,
		C.TO_WHERE,
		C.WITH_OWNER,
		C.TO_DRIVER,
		C.STATUS,
		C.CALL_TYPE,
		D.USER_NO,
		D.CAR_NO,
		D.CAR_TYPE,
		D2.DOG_NAME,
		M.USER_NAME,
		C.MERCHANT_UID
		FROM
		GEN_CALL C, DRIVER D, DOG D2, CALL_DOG CD, MEMBER M, EMERG_CALL E
		WHERE
		C.CALL_NO = CD.CALL_NO
		AND C.CALL_NO = E.CALL_NO
		AND CD.DOG_NO = D2.DOG_NO
		AND C.USER_NO = D.USER_NO
		AND D2.USER_ID = M.USER_ID
		AND E.USER_NO = #{userNo}
	</select>
	
	<select id="selectGenCallList" resultMap="callResultMap" >
		SELECT ROWNUM,
		       CALL_NO,
		       USER_ID,
		       FROM_WHERE,
		       TO_WHERE,
		       TO_CHAR(TIME, 'YYYY/MM/DD HH24:mm')TIME,
		       USER_NAME,
		       CAR_NO,
		       STATUS,
		       CALL_TYPE
		FROM (
				SELECT DISTINCT 
			           G.CALL_NO,
					   D.USER_ID,
					   G.FROM_WHERE,
					   G.TO_WHERE,
					   G.TIME,
				       M.USER_NAME,
					   DR.CAR_NO,
			           G.STATUS,
			           G.CALL_TYPE
				FROM GEN_CALL G
				FULL OUTER JOIN CALL_DOG CD ON (G.CALL_NO = CD.CALL_NO)
				FULL OUTER JOIN DOG D ON (CD.DOG_NO = D.DOG_NO)
				FULL OUTER JOIN DRIVER DR ON (G.USER_NO = DR.USER_NO)
				FULL OUTER JOIN MEMBER M ON (DR.USER_NO = M.USER_NO) 
				WHERE G.CALL_TYPE = '일반'
				ORDER BY CALL_NO
					)
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="searchType == 'userId' and keyword != null and keyword != ''">
				AND USER_ID LIKE '%'||#{keyword}||'%'
			</if>
			<if test="searchType == 'genCallDate' and keyword != null and keyword != ''">
				AND TIME LIKE '%'||#{keyword}||'%'
			</if>
		</trim>
		ORDER BY ROWNUM
	</select>
	
	<select id="selectEmgCallList" resultMap="callResultMap" >
		SELECT ROWNUM,
		       CALL_NO,
		       USER_ID,
		       TO_CHAR(TIME, 'YYYY/MM/DD HH24:mm')TIME,
		       FROM_WHERE,
		       TO_WHERE,
		       USER_NAME,
		       CAR_NO,
		       PARTNER_NAME,
		       STATUS
		FROM (
		        SELECT G.CALL_NO, 
				    D2.USER_ID, 
				    G.TIME,
				    G.FROM_WHERE, 
				    G.TO_WHERE,
				    M2.USER_NAME, 
				    D.CAR_NO, 
				    P.PARTNER_NAME, 
				    G.STATUS
				FROM GEN_CALL G
				LEFT OUTER JOIN EMERG_CALL E ON (E.CALL_NO = G.CALL_NO)
				LEFT OUTER JOIN PARTNER P ON (E.USER_NO = P.USER_NO)
				LEFT OUTER JOIN EMERG_CALL E ON (E.CALL_NO = G.CALL_NO)
				LEFT OUTER JOIN DRIVER D ON (G.USER_NO = D.USER_NO)
				LEFT OUTER JOIN CALL_DOG CD ON (CD.CALL_NO = G.CALL_NO)
				LEFT OUTER JOIN DOG D2 ON (D2.DOG_NO = CD.DOG_NO)
				LEFT OUTER JOIN MEMBER M ON (M.USER_ID = D2.USER_ID)
				LEFT OUTER JOIN DRIVER D ON (G.USER_NO = D.USER_NO)
				LEFT OUTER JOIN MEMBER M2 ON (M2.USER_NO = D.USER_NO)
				WHERE G.CALL_TYPE= '긴급'
				ORDER BY G.CALL_NO
		    )
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="searchType == 'userId' and keyword != null and keyword != ''">
				AND USER_ID LIKE '%'||#{keyword}||'%'
			</if>
			<if test="searchType == 'partName' and keyword != null and keyword != ''">
				AND PARTNER_NAME LIKE '%'||#{keyword}||'%'
			</if>
			<if test="searchType == 'dateAndTime' and keyword != null and keyword != ''">
				AND TIME LIKE '%'||#{keyword}||'%'
			</if>
		</trim>
		ORDER BY ROWNUM
	</select>
	
	<select id="selectCancelCallList" resultMap="callResultMap" >
		SELECT ROWNUM,
	           CALL_NO,
	           USER_ID,
	           TO_CHAR(TIME, 'YYYY/MM/DD HH24:mm')TIME,
	           FROM_WHERE,
	           TO_WHERE,
	           USER_NAME,
	           CAR_NO,
	           PARTNER_NAME,
	           STATUS,
	           CALL_TYPE
	    FROM (
	            SELECT G.CALL_NO, 
				    D2.USER_ID, 
				    G.TIME,
				    G.FROM_WHERE, 
				    G.TO_WHERE,
				    M2.USER_NAME, 
				    D.CAR_NO, 
				    P.PARTNER_NAME, 
                    G.CALL_TYPE,
				    G.STATUS
				FROM GEN_CALL G
				LEFT OUTER JOIN EMERG_CALL E ON (E.CALL_NO = G.CALL_NO)
				LEFT OUTER JOIN PARTNER P ON (E.USER_NO = P.USER_NO)
				LEFT OUTER JOIN EMERG_CALL E ON (E.CALL_NO = G.CALL_NO)
				LEFT OUTER JOIN DRIVER D ON (G.USER_NO = D.USER_NO)
				LEFT OUTER JOIN CALL_DOG CD ON (CD.CALL_NO = G.CALL_NO)
				LEFT OUTER JOIN DOG D2 ON (D2.DOG_NO = CD.DOG_NO)
				LEFT OUTER JOIN MEMBER M ON (M.USER_ID = D2.USER_ID)
				LEFT OUTER JOIN DRIVER D ON (G.USER_NO = D.USER_NO)
				LEFT OUTER JOIN MEMBER M2 ON (M2.USER_NO = D.USER_NO)
				WHERE G.STATUS= '취소'
				ORDER BY G.CALL_NO
			   )
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="searchType == 'userId' and keyword != null and keyword != ''">
				AND USER_ID LIKE '%'||#{keyword}||'%'
			</if>
			<if test="searchType == 'partName' and keyword != null and keyword != ''">
				AND PARTNER_NAME LIKE '%'||#{keyword}||'%'
			</if>
			<if test="searchType == 'dateAndTime' and keyword != null and keyword != ''">
				AND TIME LIKE '%'||#{keyword}||'%'
			</if>
		</trim>
		ORDER BY ROWNUM
	</select>
	
	<!-- 리뷰에 종료된 예약 불러오기 -->
	<select id="selectcallEndList" resultMap="callResultMap">
		SELECT *
		FROM DOG D, GEN_CALL C, CALL_DOG CD
		WHERE CD.DOG_NO = D.DOG_NO
		AND CD.CALL_NO = C.CALL_NO
		AND C.STATUS = '종료'
		AND D.USER_ID = '${userId}'
	</select>

	<select id="searchGenCallCount" resultType="_int">
		SELECT COUNT(*)
		FROM (
				SELECT DISTINCT 
			           G.CALL_NO,
					   D.USER_ID,
					   G.FROM_WHERE,
					   G.TO_WHERE,
					   G.TIME,
				       M.USER_NAME,
					   DR.CAR_NO,
			           G.STATUS,
			           G.CALL_TYPE
				FROM GEN_CALL G
				FULL OUTER JOIN CALL_DOG CD ON (G.CALL_NO = CD.CALL_NO)
				FULL OUTER JOIN DOG D ON (CD.DOG_NO = D.DOG_NO)
				FULL OUTER JOIN DRIVER DR ON (G.USER_NO = DR.USER_NO)
				FULL OUTER JOIN MEMBER M ON (DR.USER_NO = M.USER_NO) 
				WHERE G.CALL_TYPE = '일반'
				<trim prefix="AND" prefixOverrides="AND">
				<if test="keyword != null and keyword != ''">
					<if test="searchType == 'userId'">
						D.USER_ID LIKE '%'||#{keyword}||'%'
					</if>
					<if test="searchType == 'genCallDate'">
						G.TIME LIKE '%'||#{keyword}||'%'
					</if>
				</if>
				</trim>
				ORDER BY CALL_NO
				)
	</select>
	
	<select id="searchEmgCallCount" resultType="_int">
		SELECT COUNT(*)
		FROM (
		        SELECT G.CALL_NO, 
				    D2.USER_ID, 
				    G.TIME,
				    G.FROM_WHERE, 
				    G.TO_WHERE,
				    M2.USER_NAME, 
				    D.CAR_NO, 
				    P.PARTNER_NAME, 
				    G.STATUS
				FROM GEN_CALL G
				LEFT OUTER JOIN EMERG_CALL E ON (E.CALL_NO = G.CALL_NO)
				LEFT OUTER JOIN PARTNER P ON (E.USER_NO = P.USER_NO)
				LEFT OUTER JOIN EMERG_CALL E ON (E.CALL_NO = G.CALL_NO)
				LEFT OUTER JOIN DRIVER D ON (G.USER_NO = D.USER_NO)
				LEFT OUTER JOIN CALL_DOG CD ON (CD.CALL_NO = G.CALL_NO)
				LEFT OUTER JOIN DOG D2 ON (D2.DOG_NO = CD.DOG_NO)
				LEFT OUTER JOIN MEMBER M ON (M.USER_ID = D2.USER_ID)
				LEFT OUTER JOIN DRIVER D ON (G.USER_NO = D.USER_NO)
				LEFT OUTER JOIN MEMBER M2 ON (M2.USER_NO = D.USER_NO)
				WHERE G.CALL_TYPE= '긴급'
				<trim prefix="AND" prefixOverrides="AND">
				<if test="keyword != null and keyword != ''">
					<if test="searchType == 'userId'">
						D2.USER_ID LIKE '%'||#{keyword}||'%'
					</if>
					<if test="searchType == 'partName'">
						P.PARTNER_NAME LIKE '%'||#{keyword}||'%'
					</if>
					<if test="searchType == 'dateAndTime'">
						G.TIME LIKE '%'||#{keyword}||'%'
					</if>
				</if>
				</trim>
				ORDER BY CALL_NO
				)
	</select>
	
	<select id="searchCancelCount" resultType="_int">
		SELECT COUNT(*)
		FROM (
	            SELECT G.CALL_NO, 
				    D2.USER_ID, 
				    G.TIME,
				    G.FROM_WHERE, 
				    G.TO_WHERE,
				    M2.USER_NAME, 
				    D.CAR_NO, 
				    P.PARTNER_NAME, 
                    G.CALL_TYPE,
				    G.STATUS
				FROM GEN_CALL G
				LEFT OUTER JOIN EMERG_CALL E ON (E.CALL_NO = G.CALL_NO)
				LEFT OUTER JOIN PARTNER P ON (E.USER_NO = P.USER_NO)
				LEFT OUTER JOIN EMERG_CALL E ON (E.CALL_NO = G.CALL_NO)
				LEFT OUTER JOIN DRIVER D ON (G.USER_NO = D.USER_NO)
				LEFT OUTER JOIN CALL_DOG CD ON (CD.CALL_NO = G.CALL_NO)
				LEFT OUTER JOIN DOG D2 ON (D2.DOG_NO = CD.DOG_NO)
				LEFT OUTER JOIN MEMBER M ON (M.USER_ID = D2.USER_ID)
				LEFT OUTER JOIN DRIVER D ON (G.USER_NO = D.USER_NO)
				LEFT OUTER JOIN MEMBER M2 ON (M2.USER_NO = D.USER_NO)
				WHERE G.STATUS= '취소'
				<trim prefix="AND" prefixOverrides="AND">
				<if test="keyword != null and keyword != ''">
					<if test="searchType == 'userId'">
						D2.USER_ID LIKE '%'||#{keyword}||'%'
					</if>
					<if test="searchType == 'partName'">
						P.PARTNER_NAME LIKE '%'||#{keyword}||'%'
					</if>
					<if test="searchType == 'dateAndTime'">
						G.TIME LIKE '%'||#{keyword}||'%'
					</if>
				</if>
				</trim>
				ORDER BY CALL_NO
			)
	</select>
	
	<update id="updateUid" parameterType="String">
        UPDATE GEN_CALL
        SET
        MERCHANT_UID=#{merchantUid}
        WHERE CALL_NO=#{callNo}
    </update>
    
    <select id="useECallUserId" parameterType="string"
		resultMap="emgCallResultMap">
		SELECT G.CALL_NO,
		    G.TIME,
		    G.FROM_WHERE,
		    G.TO_WHERE,
		    G.WITH_OWNER,
		    G.CALL_TYPE,
			G.TO_DRIVER,
		    D.DOG_NO,
		    D.DOG_NAME,
		    P.PARTNER_NAME,
		    P.USER_NO,
		    E.TO_PARTNER,
		    G.STATUS,
		    P2.PAID_AMOUNT
		FROM GEN_CALL G 
		    LEFT OUTER JOIN EMERG_CALL E ON G.CALL_NO=E.CALL_NO 
		    LEFT OUTER JOIN PARTNER P ON E.USER_NO = P.USER_NO
		    LEFT OUTER JOIN PAYMENT P2 ON G.MERCHANT_UID = P2.MERCHANT_UID
		    JOIN CALL_DOG CD ON G.CALL_NO=CD.CALL_NO
		    JOIN DOG D ON CD.DOG_NO= D.DOG_NO
		WHERE G.STATUS = '신청' OR G.STATUS='결제'
		AND D.USER_ID = #{userId}
		ORDER BY CALL_NO
	</select>
</mapper>	
