<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.petcab.work.ques.model.dao.QuesDao">

	<sql id="quesListSql">
		SELECT Q.QUES_NO,
		       Q.TITLE,
		       M.USER_ID,
		       Q.CONTENT,
		       Q.POST_DATE,
		       Q.EDIT_DATE,
		       Q.VIEW_NO,
		       Q.QUES_TYPE,
		       Q.QUES_PWD,
		       Q.USER_NO,
		       Q.STATUS
		FROM QUES Q
		JOIN MEMBER M ON(Q.USER_NO = M.USER_NO)			
	</sql>

	<resultMap type="Ques" id="quesResultMap">
		<id property="quesNo" column="QUES_NO"/>
		<result property="userNo" column="USER_NO"/>
		<result property="userId" column="USER_ID"/>
		<result property="title" column="TITLE"/>
		<result property="content" column="CONTENT"/>
		<result property="postDate" column="POST_DATE"/>	
		<result property="editDate" column="EDIT_DATE"/>	
		<result property="viewNo" column="VIEW_NO"/>
		<result property="quesType" column="QUES_TYPE"/>
		<result property="quesPwd" column="QUES_PWD"/>
		<result property="groupNo" column="GROUP_NO"/>
		<result property="groupSeq" column="GROUP_SEQ"/>
		<result property="depth" column="DEPTH"/>
		<result property="status" column="STATUS"/>
	</resultMap>
	
		<resultMap type="Ques" id="quesDetailResultMap">
		<id property="quesNo" column="QUES_NO"/>
		<result property="userId" column="M.USER_ID"/>
		<result property="title" column="TITLE"/>
		<result property="content" column="CONTENT"/>
		<result property="viewNo" column="VIEW_NO"/>
		<result property="postDate" column="POST_DATE"/>
		<result property="editDate" column="EDIT_DATE"/>
		<result property="quesPwd" column="QUES_PWD"/>
	 	<collection property="replies" javaType="java.util.ArrayList" resultMap="quesReplyResultMap"/>	
	</resultMap>
	
	<resultMap type="QuesReply" id="quesReplyResultMap">
		<id property="quesNo" column="QUES_NO"/>
		<result property="content" column="CONTENT"/>
		<result property="postDate" column="POST_DATE"/>
		<result property="editDate" column="EDIT_DATE"/>
		<result property="userNo" column="USER_NO"/>
	</resultMap>
	
	<select id="selectQuesList" parameterType="map" resultMap="quesResultMap">
		<include refid="quesListSql"></include>
				
		WHERE Q.STATUS = 'Y'		
		ORDER BY Q.QUES_NO DESC
	</select>
	
	<select id="selectQuesList2" parameterType="map" resultMap="quesResultMap">
		<include refid="quesListSql"></include>
				
		WHERE Q.STATUS = 'Y'		
		AND ${searchType} like '%'||#{keyword}||'%'
		ORDER BY Q.QUES_NO DESC
	</select>
	
	<select id="selectCount" parameterType="map" resultType="_int">
		SELECT COUNT(*)
		FROM QUES
		WHERE STATUS = 'Y'
	</select>	 	
	
	<select id="selectCount2" parameterType="map" resultType="_int">
		SELECT COUNT(*)
		FROM QUES Q
		JOIN MEMBER M ON(Q.USER_NO = M.USER_NO)			
		WHERE Q.STATUS = 'Y'		
		AND ${searchType} like '%'||#{keyword}||'%'
	</select>
	
	<select id="selectQuesDetail" parameterType="_int" resultMap="quesResultMap">
		<include refid="quesListSql"></include>
		WHERE Q.QUES_NO=#{quesNo}
	</select>
	
	<select id="selectQuesReply" parameterType="_int" resultType="QuesReply">	
		
		SELECT 
		    QUES_NO AS quesNo,
		    CONTENT AS content,
		    POST_DATE AS postDate,
		    EDIT_DATE AS editDate,
		    USER_NO AS userNo
		FROM QUES_REPLY
		WHERE QUES_NO = #{quesNo}
		
	</select>
	
	<update id="updateViewNo">
		UPDATE QUES SET 	
		VIEW_NO = VIEW_NO + 1 
		WHERE QUES_NO = #{quesNo}
	</update>
	
	<insert id="insertQues" parameterType="map"
  		useGeneratedKeys="true" keyProperty="quesNo" keyColumn="QUES_NO">
  		
  		INSERT INTO QUES 
  		VALUES(
  			SEQ_QUES_NO.NEXTVAL,
  			#{title},
  			#{content},
  			DEFAULT,
  			DEFAULT,
  			DEFAULT,
  			#{quesType},
  			#{quesPwd},
  			DEFAULT,
  			DEFAULT,
  			DEFAULT,
  			#{userNo},
  			#{userId},
  			DEFAULT 			
 		)
  	</insert>
  	
  	<insert id="insertQuesReply" parameterType="map"
  		useGeneratedKeys="true" keyProperty="quesNo" keyColumn="QUES_NO">
  		
  		INSERT INTO QUES_REPLY 
		VALUES(
			#{quesNo},
			#{content},
			DEFAULT,
  			DEFAULT,
			#{userNo} 			
 		)
  	</insert>
  	
	<update id="updateQues" parameterType="Ques">
		UPDATE QUES 
		SET 
			TITLE=#{title},
			CONTENT=#{content},
			QUES_PWD=#{quesPwd},
			EDIT_DATE=SYSDATE 
		WHERE 
			QUES_NO=#{quesNo}
	</update>	
	
	<update id="delete" parameterType="int">
		UPDATE QUES 
		SET 
			STATUS='N' 
		WHERE QUES_NO=#{quesNo}
	
	</update>
	
    <delete id="deleteReply" parameterType="int">
		DELETE
		FROM QUES_REPLY
		WHERE QUES_NO=#{quesNo}
	</delete>
	
</mapper>
