.driver-document__title {
  margin-top: 30px;
  font-size: 50px;
  font-weight: bold;
}
.diver-documnet__textbox {
  width: 500px;
  text-align: start;
  margin: 50px 0;
}
.dirver-document__intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.driver-document__information {
  width: 500px;
}
.driver-document__information > form {
  display: flex;
  flex-direction: column;
}
.information__title {
  text-align: start;
}
.information__input {
  width: 300px;
  height: 30px;
  padding: 0px 10px;
}
.information div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.information_btn {
  margin: 20px 0;
  font-size: 15px;
  background: gray;
  color: white;
  height: 40px;
  border: none;
}
.file {
  width: 220px;
  margin-top: 10px;
}
@font-face {
  font-family: 'paybooc-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
*{
  font-family: 'paybooc-Medium';
}